#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }